/* Font Added */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */

.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}

/* Dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: #FFF4E7;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    padding: 20px 25px;
}

.section-title {
    font-size: 2.8125rem;
    font-weight: 700;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 8.125rem;
}

/* header Styles */

/* navbar related styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
    /* in font size's we will use rem most of the time for responsive purpose */
}

.nav-item {
    list-style: none;
    text-decoration: none;
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Related  Styles*/

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    font-weight: 400;
    font-size: 1rem;
}

.banner-image {
    width: 100%;
}

/* Team and Feature Related Styles */

.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.our-features {
    margin-left: 4.75rem;
    max-width: 33.125rem;
}

#quick-list {
    font-weight: 500;
}

/* Some Facts */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
}

.fact-card {
    padding: 20px;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid #FF900E;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description {
    margin-bottom: 6.25rem;
}




/* Responsive Part */

/* Small Device */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .facts-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }


}

/* Medium Device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
}