/* Font Added */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */

.display-flex {
    display: flex;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}

/* Dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: #FFF4E7;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    padding: 20px 25px;
}

/* header Styles */

/* navbar related styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
    /* in font size's we will use rem most of the time for responsive purpose */
}

.nav-item {
    list-style: none;
    text-decoration: none;
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Related  Styles*/

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    font-weight: 400;
    font-size: 1rem;
}

.banner-image {
    width: 100%;
}


/* Responsive Part */

/* Small Device */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }
}

/* Medium Device */

@media screen and (min-width: 577px) and (max-width: 992px) {}